body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --blue-900: rgb(0 113 179);
    --blue-500: rgb(61 140 182);
    --blue-100: rgb(132 180 226);
    --gray-100: #dad8d1;
    --gray-300: #c8c7c3;;
    --gray-900: rgb(89 100 111);
    --fs-600: 1.15rem;
    --fs-400: 1rem;
    --fs-300: 0.85rem;
    --icon: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 85vh;
  }

textarea {
    border: none;
    background-color: transparent;
    outline: none;
}

.icon {
    height: var(--icon);
    width: var(--icon);
    padding-right: 0.35rem;
}

.white-icon {
    filter: invert(1);
}

#icon-cut {
    transform: rotate(-90deg) translateX(2px);
}

.timer-wrapper {
    display: flex;
    background-color: var(--blue-900);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    height: 2.25rem;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timer-wrapper > p {
    font-size: var(--fs-600);
}

.timer-wrapper > p {
    margin-left: 1.5rem;
}

.time {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.yellow-time {
    color: yellow;
}

.red-time {
    color: white;
    background-color: red;
}

.clock-icon {
    margin-top: 3px;
}

.flag-wrapper {
    background-color: var(--blue-100);
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid white;
    border-width: 0 0 2px 0;
}

.tabs {
    display: flex;
    margin-left: 1.25rem;
}

.info-btn {
    background-color: var(--gray-100);
    color: var(--blue-900);
    padding: 0.5rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px 0 0 0;
    margin-right: 0.1rem;
    transition: all ease-in-out 300ms;
}

.info-btn:hover {
    transition: all ease-in-out 300ms;
    background-color: var(--gray-300);
}

.info-btn.active {
    background-color: white;
}

.info-btn.active:hover {
    cursor: unset;
}

.info-wrapper {
    background-color: var(--blue-900);
}

.article {
    background-color: white;
    width: 55vw;
    margin-left: 1rem;
    padding: 1rem;
    height: 89%;
    border-right: solid 10px var(--blue-900);
    overflow: scroll;
}

.essay-wrapper {
    width: 40%;
}

#essay {
    resize: none;
    width: 98%;
    height: 75vh;
}

.edit-buttons {
    display: flex;
    background-color: var(--gray-100);
    margin-left: 0.15rem;
    width: 99%;
    border: solid 1px var(--gray-900);
}

.edit-btn {
    cursor: pointer;
    font-size: var(--fs-300);
    margin: 0.25rem 0;
    box-shadow: 0 0 2px var(--gray-900);
    padding: 0.5rem 0.25rem;
    min-width: 11%;
    background-color: var(--gray-100);
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all ease-in-out 300ms;
}

.edit-btn:hover {
    transition: all ease-in-out 300ms;
    background-color: var(--gray-300);
}

.edit-btn:nth-of-type(1) {
    margin-left: 0.25rem;
}

.edit-btn:nth-of-type(4) {
    margin-left: 0.25rem;
}

.nav-wrapper {
    font-weight: bold;
    font-size: var(--fs-600);
}

.nav-wrapper {
    display: flex;
    background-color: var(--blue-900);
    color: white;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    height: 2rem;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-btn {
    margin-right: 0.75rem;
    padding: 0 0.35rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-btn:nth-child(odd) {
    border-left: solid 2px white;
    border-right: solid 2px white;
}