*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 1em;
    --blue-primary: #223d96;
    --blue-secondary: #3d5cc0;
    --blue-tertiary: #97acdf;
    --gray-primary: #e6e7e7;
    --gray-secondary: #c5cdcd;
    --gray-tertiary: #9fa8ac;
    --kyae-green: #81ad61;
    --kyae-dark: #588438;
}

h1, h2, .btn, .modal-close {
    font-family: 'Roboto Condensed', sans-serif;
}

h3, h4, li, p, span, .contact-form {
    font-family: 'Poppins', sans-serif;
}

section {
    width: 80%;
    margin: 0 auto;
}

h1, .subtitle {
  text-align: center;
}

.title {
    background-color: var(--blue-primary);
    color: white;
    height: auto;
    padding-bottom: 0.5em;
}

h1 {
  font-size: 4rem;
}

button {
  font-weight: 600;
}

.btn, .close-dialog {
  cursor: pointer;
}

dialog {
 margin: auto;
 padding: 2.5rem;
 border-radius: 10px;
 box-shadow: 0px 2px 8px black;
}

dialog::backdrop {
  background: rgba(50, 50, 50, 0.75);
}

.close-dialog {
  position: fixed;
  left: 85%;
  font-size: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 300ms ease;
}

.close-dialog:hover {
  color: var(--blue-primary);
  filter: drop-shadow(0 3px 5px var(--blue-tertiary));
  transition: all 300ms ease;
}

.course {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}





/* ------------------MODAL SECTION------------------- */

.modal-announce {
  border-radius: 3%;
  width: 100%;
  background-color: var(--kyae-dark);
  box-shadow: 0 3px 5px black;
}

.modal-announce > h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em auto;
  font-size: 1.5em;
  color: white;
}

.interior {
  display: flex;
  justify-content: center;
}
  
.btn {
  background-color: var(--blue-primary);
  padding: 0.5em 0.5em;
  margin: 0.5em;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  color:white;
  font-weight: bold;
  transition: all ease-in-out 300ms;
}

.btn:hover {
  background-color: var(--blue-secondary);
  transition: all ease-in-out 300ms;
}

.subject {
  color: var(--blue-primary);
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0 0.25rem 0;
  font-size: 2rem;
}

/* --------------------------------- COURSES */

.course-name {
  font-size: 1.2rem;
  color: var(--kyae-dark);
  display: inline-block;
  margin: 0;
}

.course-info, .course-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.75rem;
  padding: 0;
}

.days, .time {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--blue-primary);
  display: inline-block;
}

.syllabus > a, .zoom > a {
  font-weight: bold;
  display: inline-block;
  font-size: 1.1rem;
  color: var(--blue-primary);
  transition: all 300ms ease;
}

.syllabus > a:hover, .zoom > a:hover {
  color: var(--kyae-dark);
  transition: all 300ms ease;
}

.syllabus > a:visited, .zoom > a:visited {
  color: var(--blue-secondary);
}

.syllabus > a:visited:hover, .zoom > a:visited:hover {
  color: var(--kyae-dark);
  transition: all 300ms ease;
}

.description {
  max-width: 65ch;
  margin-left: 10%;
  font-size: 0.85rem;
}

.profile {
  height: 10vh;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 2fr 2fr 1fr;
  grid-auto-columns: 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  margin: 1rem 0 5rem 0;
}

.picture {
  max-height: 80px;
  grid-area: 1 / 1 / 3 / 2;
  margin: 0 auto;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px #555);
}

.instructor {
  grid-area: 1 / 2 / 3 / 3;
  margin-top: 1rem;
  padding: 0;
}

.email {
  grid-area: 2 / 2 / 3 / 3;
  margin-top: 2rem;
  margin-left:0.25rem;
  padding: 0;
  font-size: 0.7rem;
}

.phone {
  grid-area: 3 / 2 / 4 / 3;
  font-size: 0.85rem;
  padding: 0;
}

.instructor-info > img {
  display: none;
}

.instructor-info {
  display: flex;
  justify-content: space-around;
  margin: -1.5rem 0 1.5rem 0;
  font-size: 0.75rem;
}

#ways-modal {
  width: auto;
}

.display {
  margin: 0;
}

.join-display {
  display: flex;
  flex-direction: column;
}

.join-class-text {
  font-size: 0.75rem;
}

.inside-display > svg {
  --display-dimension: 125px;
  height: var(--display-dimension);
  width: var(--display-dimension);
}

.inside-display {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.display-info-text > h2 {
  color: var(--kyae-dark);
  font-size: 1.125rem;
}

.display-info-text:last-of-type {
  margin-left: 1rem;
}

article {
  width: 70%;
    margin: 2.5em auto;
}

.is-in-viewport {
  height: 1px;
  width: 100%;
}

.slide-up-once {
  /* opacity: 0; */
  transform: translateY(50px);
  transition: all 0.75s ease-in-out;
}
.slide-up-once.show {
  /* opacity: 1; */
  transform: translateY(0px);
}

/* ------------ WHAT HYFLEX IS ------------ */

#hyflex-anchor {
  background: linear-gradient(var(--kyae-dark), var(--blue-secondary) );
  box-shadow: 0 3px 10px black;
  padding: 1em;
  margin-top: 3em;
  color: white;
}

#hyflex-title {
  text-align: center;
  font-size: 3em;
  padding-top: 0.5em;
}

.hyflex-info {
  flex: 1 1 30%;
}

/* ---------------AT A GLANCE----------------- */

.glance-header {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.notes {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.open-glance {
  text-align: center;
  font-size: 4rem;
  margin-top: -2.5rem;
  margin-bottom: -3rem;
  cursor: pointer;
  user-select: none;
  color: var(--blue-primary);
}

.glance {
  width: 85vw;
  padding: 2rem 0;
  margin: 0 auto -4rem auto;
  max-height: 0px;
  scale: 1 0;
  transform-origin: top;
  transition: all 250ms ease-in-out;
}

.glance-wrapper {
  visibility: hidden;
  transition: all 400ms ease-in-out;
}

.day > h3 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.day > .slot:last-of-type {
  margin-bottom: 1.95rem;
}

.glance-time {
  font-weight: bold;
}

.glance-title {
  margin-bottom: 0.75rem;
  text-align: right;
}

/* ---------- ABOUT OUR PROGRAMS ---------- */

#about > h2 {
  margin-top: -1rem;
  text-align: center;
  font-size: 3em;
}

#about > p {
  margin-top: 1.75em;
}

/* ----- CONTACT SECTION ------ */

aside {
  background-color: var(--kyae-dark);
  color: white;
  display: flex;
  box-shadow: 0 3px 10px black;
}

aside > img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  filter: saturate(0);
}

.aside-container {
  flex: 1 1 550px;
}

.contact, .social {
  margin: 2em;
  text-align: center;
}

.contact-form {
  height: 85%;
    text-align: left;
    padding: 10px;
    margin: 1rem auto;
    background: var(--blue-primary);
    border-radius: 4px;
    border-radius: 2%;
    box-shadow: 0 3px 8px 2px var(--kyae-green);
  }

.social-media-links svg {
    --social-height: 50px;
    height: var(--social-height);
    width: var(--social-height);
    fill: var(--blue-tertiary);
    transition: all ease-in-out 0.3s;
}

footer {
    background-color: var(--blue-primary);
    color: white;
    padding-bottom: 2rem;
}



.bottom-credit {
    text-align: center;
    font-size: 0.8rem;
    margin: 2rem 3.5rem 0 3.5rem;
}

#contact > img {
  display: none;
}

.contact-cards {
  display: flex;
  font-size: 0.75rem;
  width: 80%;
  margin: 1rem;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.county-card {
  flex: 1 1 180px;
  margin-top: 1rem;
}

.to-top {
  display: none;
}

.observable {
  opacity: 1;
  transform: translateY(0px);
}




@media (min-width: 913px) {

  nav {
    display: none;
  }

  .bg {
    background-image: url("/img/oak_desk_at_home.webp");
    min-height: 55vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    filter: grayscale(0.85);
  }

  .modal-announce > h2 {
    font-size: 3.5em;
    animation: 3s 1 pulse;
  }

  @keyframes pulse {
    
    40% {
      text-shadow: 0 0 40px rgb(247, 255, 10);
    }

    100% {
      text-shadow: none;
    }
  }

  .btn {
    font-size: 1.25rem;
  }
  
  .course {
    flex: 1 1 30vw;
    display: flex;
    max-width: 40vw;
    margin-bottom: 2em;;
  }

  .course:nth-of-type(even) {
    margin-left: 5em;
  }
  
  .course:nth-of-type(2), .course:nth-of-type(3), .course:nth-of-type(6), .course:nth-of-type(7) {
    background-color: var(--gray-primary);
    padding: 0 2em;
  }

  .course-name {
    font-size: 1.75rem;
    color: var(--kyae-dark);
    margin-bottom: 0.25em;
  }

  .close-dialog {
    left: 70%;
    transition: all 300ms ease;
  }

  .picture {
    max-height: 120px;
  }

  .email {
    font-size: 0.85rem;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .display-info-text > h2 {
    font-size: 1.5rem;
  }

  .join-class-text {
    font-size: 0.85rem;
  }

  #ways-modal {
    max-width: 50vw;
  }

  #hyflex {
    display: flex;
    justify-content: space-between;
  }

  .hyflex-info + .hyflex-info {
    margin-left: 8em;
  }

  .glance {
    width: 90vw;
    display: flex;
    justify-content: center;
    background-image: -moz-linear-gradient(var(--blue-primary), var(--kyae-dark));
    background-image: -webkit-linear-gradient(var(--blue-primary), var(--kyae-dark));
    background-image: linear-gradient(var(--blue-primary), var(--kyae-dark));
    padding: 2%;
    color: white;
    border: solid 3px var(--gray-secondary);
    box-shadow: 0 0 10px var(--blue-primary);
    margin: 0 auto;
    max-height: unset;
    scale: unset;
  }
  
  .glance-wrapper {
    visibility: visible;
    display: flex;
    width: 100%;
  }
  
  .glance-header {
    font-size: 3rem;
    margin: 3rem 0 0 0;
  }

  .notes {
    font-size: 0.9rem;
    margin-bottom: 1.25rem;
  }

  .day > h3 {
    font-size: 1.5rem;
  }
  
  .day > .slot:last-of-type {
    margin-bottom: 1.95rem;
  }

  .monday, .tuesday {
    width: 20%;
  }

  .wednesday, .thursday {
    width: 30%;
  }

  .flex-slot {
    display: flex;
    justify-content: space-between;
  }
  
  .glance-title {
    text-align: unset;
  }

  .day + .day {
    margin-left: 1.75rem;
  }

  .open-glance {
    display: none;
  }

  .contact-form {
    width: 40vw;
  }

  .social-media-links svg {
    --social-height: 70px;
    height: var(--social-height);
    width: var(--social-height);
    fill: var(--blue-tertiary);
    transition: all ease-in-out 0.3s;
}

.social-media-links svg:hover {
    fill: var(--blue-secondary);
}

  #contact > img {
    display: block;
  }
  
  .contact-cards {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

  .to-top {
    position: fixed;
    right: 2%;
    bottom: 0;
    z-index: 10000;
    height: 40px;
    background-color: #333;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: all ease-in-out 400ms;
  }

  .to-top:hover {
    background-color: #000;
  }
  
  .to-top > a {  
    text-decoration: none;
    color: white;
    font-size: .85rem;
  }
  
  .visible {
    opacity: 80%;
    transition: all ease-in-out 500ms;
  }

  .observable {
    opacity: 0;
    transform: translateY(60px);
    transition: all 650ms ease-in-out 150ms;
  }
  
  .float-up {
    transform: translateY(0px);
    opacity: 1;
    transition: all 650ms ease-in-out 150ms;
  }
}