*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 1em;
    --blue-primary: #223d96;
    --blue-secondary: #3d5cc0;
    --blue-tertiary: #97acdf;
    --gray-primary: #e6e7e7;
    --gray-secondary: #c5cdcd;
    --gray-tertiary: #9fa8ac;
    --kyae-green: #81ad61;
    --kyae-dark: #588438;
}

h1, h2, .btn, .modal-close {
    font-family: 'Roboto Condensed', sans-serif;
}

h3, h4, li, p, .contact-form {
    font-family: 'Poppins', sans-serif;
}

section {
    width: 80%;
    margin: 0 auto;
}

h1, .subtitle {
  text-align: center;
}

.title {
    background-color: var(--blue-primary);
    color: white;
    height: auto;
    padding-bottom: 0.5em;
}

h1 {
  font-size: 4rem;
}

button {
  font-weight: 600;
}

.btn, .close-dialog {
  cursor: pointer;
}

dialog {
 margin: auto;
 padding: 3rem;
 border-radius: 10px;
 box-shadow: 0px 2px 8px black;
}

dialog::backdrop {
  background: rgba(50, 50, 50, 0.75);
}

.close-dialog {
  position: fixed;
  left: 85%;
  font-size: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 300ms ease;
}

.close-dialog:hover {
  color: var(--blue-primary);
  filter: drop-shadow(0 3px 5px var(--blue-tertiary));
  transition: all 300ms ease;
}

#ways-modal {
  overflow: hidden;
}

#ways-close {
  left: 88%;
}

.course {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}





/* ------------------MODAL SECTION------------------- */

.modal-announce {
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em auto;
  font-size: 1.5em;
  border-radius: 3%;
  width: 100%;
  background-color: var(--kyae-green);
  color: white;
  box-shadow: 0 3px 5px black;
}

.interior {
  display: flex;
  justify-content: center;
}
  
.btn {
  background-color: var(--blue-primary);
  padding: 0.5em 0.5em;
  margin: 0.5em;
  border-radius: 0.5rem;
  text-decoration: none;
  color:white;
  font-weight: bold;
  transition: all ease-in-out 300ms;
}

.btn:hover {
  background-color: var(--blue-secondary);
  transition: all ease-in-out 300ms;
}

.subject {
  color: var(--blue-primary);
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0 0.25rem 0;
  font-size: 2rem;
}

/* --------------------------------- COURSES */

.course-name {
  font-size: 1.2rem;
  color: var(--kyae-dark);
  display: inline-block;
  margin: 0;
}

.course-info, .course-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.75rem;
  padding: 0;
}

.days, .time {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--blue-primary);
  display: inline-block;
}

.syllabus > a, .zoom > a {
  font-weight: bold;
  display: inline-block;
  font-size: 1.1rem;
  color: var(--blue-primary);
  transition: all 300ms ease;
}

.syllabus > a:hover, .zoom > a:hover {
  color: var(--kyae-dark);
  transition: all 300ms ease;
}

.syllabus > a:visited, .zoom > a:visited {
  color: var(--blue-secondary);
}

.syllabus > a:visited:hover, .zoom > a:visited:hover {
  color: var(--kyae-dark);
  transition: all 300ms ease;
}

.description {
  max-width: 65ch;
  margin-left: 10%;
}

.profile {
  height: 10vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  grid-auto-columns: 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  margin-bottom: 6rem;
}

.picture {
  max-height: 100px;
  grid-area: 1 / 1 / 3 / 2;
  margin: 1rem auto 0 auto;
}

.instructor {
  grid-area: 1 / 2 / 3 / 3;
  margin-top: 1rem;
  padding: 0;
}

.email {
  grid-area: 2 / 2 / 3 / 3;
  margin-top: 2rem;
  padding: 0;
}

.phone {
  grid-area: 3 / 2 / 4 / 3;
  padding: 0;
}

.instructor-info > img {
  display: none;
}

.instructor-info {
  display: flex;
  justify-content: space-around;
  margin: -1.5rem 0 1.5rem 0;
  font-size: 0.75rem;
}

.display {
  margin: -2rem 0;
}

.join-display {
  display: flex;
  flex-direction: column;
}

.inside-display > svg {
  --display-dimension: 300px;
  height: var(--display-dimension);
  width: var(--display-dimension);
  margin: -3em 0.5em -3em 0;
}

.inside-display {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.display-info-text > h2 {
  color: var(--kyae-dark);
}

section, article {
    width: 70vw;
    margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

section > .close-container {
  visibility: hidden;
}

#enroll {
  width: 20vw;
}

article {
    margin: 2.5em auto;
}

.instructor-info > img {
  border-radius: 50%;
  border: solid 2px var(--blue-secondary);
  box-shadow: var(--kyae-dark) 0 4px 8px;
  margin: 2em, 0;
}

/* ------------ WHAT HYFLEX IS ------------ */

#hyflex-anchor {
  background: linear-gradient(var(--kyae-dark), var(--blue-secondary) );
  box-shadow: 0 3px 10px black;
  padding: 1em;
  margin-top: 3em;
  color: white;
}

#hyflex-title {
  text-align: center;
  font-size: 3em;
  padding-top: 0.5em;
}

.hyflex-info {
  flex: 1 1 30%;
}

/* ---------- ABOUT OUR PROGRAMS ---------- */

#about > h2 {
  text-align: center;
  font-size: 3em;
  padding-top: 0.5em;
}

#about > p {
  margin-top: 1.75em;
}

/* ----- CONTACT SECTION ------ */

aside {
    background-color: var(--kyae-green);
    color: white;
    display: flex;
    box-shadow: 0 3px 10px black;
}

aside > img {
  max-height: 100%;
  overflow: hidden;
  filter: saturate(0);
}

.aside-container {
  flex: 1 1 500px;
}

.contact, .social {
  margin: 2em;
  text-align: center;
}

.contact-form {
    text-align: left;
    padding: 10px;
    margin: 1rem auto;
    background: var(--blue-primary);
    border-radius: 4px;
    width: 70vw;
    border-radius: 2%;
    box-shadow: 0 3px 8px 2px rgb(139, 139, 139);
  }

  fieldset {
    border: none;
  }

  legend {
    font-size: 1em;
    font-weight: bold;
  }
  
  label {
    font-size: 0.85em;
    margin-left: 12px;
  }
  
  input[type=text], input[type=phone], input[type=email], textarea {
    width: 100%;
    height: 1em;
    padding: 12px;
    border: 1px solid var(--kyae-green);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
  }
  
  input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 1px solid var(--gray-secondary);
  }
  
  input[type=submit] {
    background: var(--blue-tertiary);
    margin: 1em auto 0 auto;
    outline: 0;
    color: white;
    border: 0;
    padding: 12px 24px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: bold;
  }
  
  input[type=submit]:focus {
    background: var(--blue-tertiary);
    color: whitesmoke;
  }
  
  input[type=submit]:hover {
    background: var(--blue-secondary);
    cursor: pointer;
  }

.social-media-links svg {
    --social-height: 50px;
    height: var(--social-height);
    width: var(--social-height);
    fill: var(--blue-tertiary);
    transition: all ease-in-out 0.3s;
}

footer {
    background-color: var(--blue-primary);
    color: white;
    padding-bottom: 2rem;
}



.bottom-credit {
    text-align: center;
    font-size: 0.8rem;
    margin: 2rem 3.5rem 0 3.5rem;
}

#contact > img {
  display: none;
}

.contact-cards {
  display: flex;
  font-size: 0.75rem;
  width: 80%;
  margin: 1rem;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.county-card {
  flex: 1 1 180px;
  margin-top: 1rem;
}

.to-top {
  display: none;
}






@media (min-width: 913px) {

  nav {
    display: none;
  }

  .bg {
    background-image: url("img/student-desk.jpg");
    min-height: 55vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .modal-announce {
    font-size: 3.5em;
  }

  .btn {
    font-size: 1.25rem;
  }
  
  .modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window > div {
    width: 90%;
    height: 80vh;
    position: absolute;
    top: 5%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    padding: 2em;
    background: white;
    overflow: scroll;
    box-shadow: 0 0 10px black;
    border-radius: 1%;
  }

  .course-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .course {
    flex: 1 1 30vw;
    display: flex;
    max-width: 40vw;
    margin-bottom: 2em;;
  }

  .course:nth-of-type(even) {
    margin-left: 5em;
  }
  
  .course:nth-of-type(2), .course:nth-of-type(3), .course:nth-of-type(6), .course:nth-of-type(7) {
    background-color: var(--gray-primary);
    padding: 0 2em;
  }

  .course-name {
    font-size: 1.75rem;
    color: var(--kyae-dark);
    margin-bottom: 0.25em;
  }

  .close-dialog {
    left: 70%;
    transition: all 300ms ease;
  }
  
  .instructor-info {
    padding-top: 2em;
    position: relative;
  }
    
  .first-last {
    margin-top: 1rem;
  }
 
  .instructor-info > img {
    display: unset;
  }

  .instructor-info {
    display: unset;
    font-size: 1rem;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .join-display {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .inside-display {
    font-size: 1.1rem;
  }

  #hyflex {
    display: flex;
    justify-content: space-between;
  }

  .hyflex-info + .hyflex-info {
    margin-left: 8em;
  }

  .contact-form {
    width: 30vw;
  }

  .social-media-links svg {
    --social-height: 70px;
    height: var(--social-height);
    width: var(--social-height);
    fill: var(--blue-tertiary);
    transition: all ease-in-out 0.3s;
}

.social-media-links svg:hover {
    fill: var(--blue-secondary);
}

  #contact > img {
    display: block;
  }
  
  .contact-cards {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

  .to-top {
    position: fixed;
    right: 2%;
    bottom: 0;
    z-index: 100;
    height: 40px;
    border: solid 4px var(--blue-secondary);
    background-color: #333;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: all ease-in-out 500ms;
  }
  
  .to-top > a {  
    text-decoration: none;
    color: white;
    font-size: .85rem;
  }
  
  .visible {
    opacity: 70%;
    transition: all ease-in-out 500ms;
  }
}